*{
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-size: 16px;
}

.header{
    color: white;
    background-image: linear-gradient(60deg, red, orange );
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-list-link{
    text-decoration: none;
    color: white;
    padding: 0.5em;
}

.nav-list-item{
    list-style-type: none;
    background-color: #808080;
    line-height: 2em;
    margin-bottom: 0.5em;
}

.navigation{
    width: 20%;
    padding: 0.5em;
}

.section{
    width: 60%;
    padding: 0.5em;
}